*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    display: flex;
    background-color: #898282;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    
}
.contaniner{
    background-color: black;
    color: #ffff;
    padding: 20px 24px;
    border-radius: 5px;
}
.clock{
    font-size: 50px;
    font-weight: 600;
}
.btn{
    margin-top: 20px  ;
    border: none;
    background-color: var(--col);
    font-size: 20px;
    font-weight: 500;
    padding: 10px 15px;
    border-radius: 5px;
}